{% extends 'base.html.twig' %}
{% block title %}{{parent()}}Accueil{% endblock %}
{% block body %}
<h1 class="text-center text-secondary">Cactus Jack</h1>
<h2 class="text-center text-secondary mb-4 pb-4 display-2"></h2>
{% endblock %}